@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@400;500;600;700&family=Roboto+Mono:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    text-transform: capitalize;
    box-sizing: border-box;
}
body{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #f1f1f1;
}
.signup{
    height: 515px;
    width: 755px;
    margin-top: 20px;
    background-color: white;
    border-radius: 30px;
    padding: 25px 30px;
}
.heading-title{
    font-size: 2rem;
    margin-top: 70px;
    margin-left: 40px;
}
.signup-details{
    width: 40%;
    height: 20%;
    margin-top: 100px;
    margin-left: 0px;
}
.signup.signup-details input{
    width: 29rem;
    height: 3.5rem;
    padding: .9rem 1.8rem;
    gap: 1rem;
    font-size: 1.4rem;
    color:grey;
    text-transform: none;
    margin-top: 1.5rem;
    background: #FFFFFF;
    border: .1rem solid #B4B4B4;
    border-radius: 1rem;
}
.signup.signup-details input:focus{
    background: white;
    color: black;
}
.signup.signup-details input:focus::placeholder{
    color: grey;
}