@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@400;500;600;700&family=Roboto+Mono:wght@700&display=swap');

:root {
    --background: #d9d9d9;
    --border-radius: 1rem;
    --button-color: #f22e2e;
}

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    background-color: white(6, 97, 104, 0.932);
}

section {
    padding: 5rem 10%;
}

body{
    overflow: hidden;
}

.heading-title{
    font-family: 'Montserrat';
    margin: 0rem;
    padding: 0rem;
    font-style: normal;
    font-weight: 700;
    font-size: 4rem;
    line-height: 5rem;
    font-style: bold;
    cursor: default;
}

.detail{
    text-decoration: underline;
    font-style:normal;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 3rem;
    padding-left: 17rem;
    color: var(--button-color);
}

.detail-2{
    top: 45rem;
    left: 19rem;
    position: absolute;
    text-decoration: underline;
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 3rem;
    color: var(--button-color);
}

.again {
    top: 45rem;
    position: absolute;
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 3rem;
    cursor: default;
}

.picture {
    position: absolute;
    margin: 0rem;
    width: 100rem;
    height: 100%;
    left: rem;
    top: 0rem;
    background-color: #f1f1f1;
}

.picture img {
    position: absolute;
    width: 82rem;
    height: 60rem;
    left: 6rem;
    top: 16rem;
}
.picture .circle{
    position: absolute;
    margin: 0rem;
    width: 12rem;
    height:12rem;
    left: 10rem;
    top: 7rem;
    border-radius: 100%;
    background-color: #d9d9d9;
}

.btn{
    width: 28.6rem;
    height: 4rem;
    display: inline-block;
    background: linear-gradient(16.36deg, #FB3838 1.34%, #FF6262 105.05%);
    margin-top: 1.5rem;
    color: white;
    font-size: 2rem;
    font-style: bold;
    cursor: pointer;
}

.btn:hover {
    background: orange;
}

.navbar a {
    color: var(--button-color);
}

.navbar a:hover {
    color: black;
}

.login {
    position: absolute;
    margin: 0rem;
    padding-left:8rem;
    padding-top:10rem;
    width: 45rem;
    height: 63rem;
    left: 110rem;
    top: 15rem;
    border-radius: var(--border-radius);
}

.login .login-form {
    margin: 0rem;
    padding-bottom: 8rem;
    padding-top: 5rem;
    width: 29rem;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .7rem;
    flex: 1 1 41rem;
}

.login .login-form  input{
    width: 29rem;
    height: 3.5rem;
    padding: .9rem 1.8rem;
    gap: 1rem;
    
    font-size: 1.4rem;
    color:grey;
    text-transform: none;
    margin-top: 1.5rem;
    background: #FFFFFF;
    border: .1rem solid #B4B4B4;
    border-radius: 1rem;
}


.login .login-form  input:focus{
    background: white;
    color: black;
}

.login .login-form input:focus::placeholder{
    color: grey;
}

 .login .login-form .btn  {
    width: 28.6rem;
    height: 4rem;
    display: inline-block;
    background:linear-gradient(16.36deg, #FB3838 1.34%, #FF6262 105.05%);
    margin-top: 1.5rem;
    color: white;
    font-size: 2rem;
    font-style: bold;
    cursor: pointer;
} 

.login .login-form .btn:hover {
    background: linear-gradient(16.36deg, #FB3850 1.34%, #FF6290 105.05%);;
}

